
@{
    ViewBag.Title = "LinkedIN";
}


<br />
<a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=7797u563ns17ca&redirect_uri=http://localhost:57633/Home/LinkedINAuth&state=987654321&scope=r_basicprofile" class="btn btn-primary">Hureee! Login with LinkedIN</a>

